<%= bootstrap_form_with(model: @product_model, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-5") do |form| %>
  <div>
		<%= form.text_field :name, required: true %>
	</div>
	<div>
  	<%= form.text_field :weight, required: true %>
	</div>
	<div>
  	<%= form.text_field :width, required: true %>
	</div>
	<div>
  	<%= form.text_field :height, required: true %>
	</div>
	<div>
  	<%= form.text_field :depth, required: true %>
	</div>
	<div>
  	<%= form.text_field :sku, required: true %>
	</div>
	<%= form.collection_select :supplier_id, @suppliers, :id, :name %>
  
  <div> 
		<%= form.submit 'Enviar', class: "btn btn-success" %>
	</div>

<% end %>


<% if(@product_model.errors.any?) %>
<p> A validação falhou: </p>
	<ul>
		<% @product_model.errors.full_messages.each do |message| %>
		<li> <%= message %> </li>
		<% end %>
	</ul>
<% end %>

<script src="/assets/cnpj_mask.js"></script>