<h1>Resultados da busca por: <%= @code %></h1>

<% if @orders.any? %>
  <div class="notice">
    <span> <%= @orders.count %> <%= Order.model_name.human(count: @orders.count).downcase %> <%= I18n.t(:found, count: @orders.count)%></span>
  </div>  
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
<% else %>
  <span> 'Não existem pedidos cadastrados' </span>
<% end %>

