<h3>Detalhes do pedido: <%= @order.model_name.human %>: <%= @order.code %> </h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Usuário</th>
      <th>Galpão Destino</th>
      <th>Fornecedor</th>
      <th>Data Prevista de Entrega</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @order.user.description %></td>
        <td><%= @order.warehouse.name %></td>
        <td><%= @order.supplier.company_name %></td>
        <td><%= I18n.localize(@order.estimated_delivery_date) %></td>
      </tr>
    </tbody>
  </table>

<%= link_to('Voltar', order_path, class: "btn btn-success")%>
