<%= form_with(model: @supplier) do |form| %>
  <div>
		<%= form.label :name %>
		<%= form.text_field :name, required: true %>
	</div>
	<div>
		<%= form.label :company_name %>
  	<%= form.text_field :company_name, required: true %>
	</div>
	<div>
		<%= form.label :cnpj %>
  	<%= form.text_field :cnpj, maxlength:18 %>
	</div>
	<div>
		<%= form.label :address %>
  	<%= form.text_field :address, required: true %>
	</div>
	<div>
  	<%= form.label :email %>
  	<%= form.email_field :email %>
	</div>
  <div>
  	<%= form.label :telephone %>
  	<%= form.text_field :telephone, required: true %>
	</div>
  
  <div> 
		<%= form.submit 'Enviar' %>
	</div>

<% end %>


<% if(@supplier.errors.any?) %>
<p> A validação falhou: </p>
	<ul>
		<% @supplier.errors.full_messages.each do |message| %>
		<li> <%= message %> </li>
		<% end %>
	</ul>
<% end %>

<script src="/assets/cnpj_mask.js"></script>