
<h1>Fornecedor <%= @supplier.name %> </h1>

<div>
    Razão Social: <%= @supplier.company_name %>
    CNPJ: <%= @supplier.cnpj %>
    Email: <%= @supplier.email %>
    Endereço: <%= @supplier.address %>
    Telefone: <%= @supplier.telephone %>
</div>

<%= link_to('Voltar', suppliers_path)%>
<%= link_to('Editar', edit_supplier_path)%>