<% if(@warehouse.errors.any?) %>
	<div class="alert alert-danger" role="alert">
		<ul>
			<% @warehouse.errors.full_messages.each do |message| %>
			<li> <%= message %> </li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= bootstrap_form_with(model: @warehouse, layout: :horizontal, label_col: "col-sm-1", control_col: "col-sm-5") do |form| %>
 <div class="form-group">
  <div>
		<%= form.text_field :name, required: true %>
	</div>
	<div>
  	<%= form.text_field :description, required: true %>
	</div>
	<div>
  	<%= form.text_field :code, maxlength:3 %>
	</div>
	<div>
  	<%= form.text_field :address, required: true %>
	</div>
	<div>
  	<%= form.text_field :city, required: true %>
	</div>
	<div>
  	<%= form.text_field :cep, maxlength:9, placeholder:"00000-000" %>
	</div>
  <div>
  	<%= form.number_field :area, required: true %>
	</div>
  <div> 
		<%= form.submit 'Enviar', class: "btn btn-success" %>
	</div>
</div>
<% end %>
