<section>
<h2>Galpões</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Cidade</th>
      <th>Detalhes</th>
    </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |field|%>
        <tr>
          <td><%= link_to(field.name, warehouse_path(field.id)) %></td>
          <td><%= link_to(field.code, warehouse_path(field.id)) %></td>
          <td><%= link_to(field.city, warehouse_path(field.id)) %></td>
          <td><%= link_to('Ver detalhes', warehouse_path(field.id)) %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
  <% if @warehouses.empty? %>
      <p>Não existem galpões cadastrados</p>
  <% end %>
  <div>
    <%= link_to('Cadastrar Galpão', new_warehouse_path, class:'btn btn-primary')%>
  </div>
</section>