<h1>Novo Galpão</h1>

<%= form_with(model: @warehouse) do |form| %>
  <div>
		<%= form.label :name, 'Nome'%>
		<%= form.text_field :name, required: true %>
	</div>
	<div>
		<%= form.label :description, 'Descrição'%>
  	<%= form.text_field :description, required: true %>
	</div>
	<div>
		<%= form.label :code, 'Código'%>
  	<%= form.text_field :code, maxlength:3 %>
	</div>
	<div>
		<%= form.label :address, 'Endereço'%>
  	<%= form.text_field :address %>
	</div>
	<div>
  	<%= form.label :city, 'Cidade'%>
  	<%= form.text_field :city %>
	</div>
	<div>
  	<%= form.label :cep, 'CEP'%>
  	<%= form.text_field :cep, maxlength:8 %>
	</div>
  <div>
  	<%= form.label :area, 'Área'%>
  	<%= form.number_field :area %>
	</div>
  
  <div> 
		<%= form.submit 'Enviar' %>
	</div>

<% end %>