
<h1>Galpão <%= @warehouse.code %> </h1>
<h2> <%= @warehouse.description %> </h2>
<div>
    Nome: <%= @warehouse.name %>
    Cidade: <%= @warehouse.city %>
    Area: <%= @warehouse.area %> m2
    Endereço: <%= @warehouse.address %>, CEP: <%= @warehouse.cep %>
</div>

<%= link_to('Editar', edit_warehouse_path(@warehouse.id))%>
<%= button_to('Excluir', warehouse_path(@warehouse.id), method: :delete)%>

<%= link_to('Voltar', root_path)%>