<h1>Galpão <%= @warehouse.code %> </h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Cidade</th>
      <th>Área</th>
      <th>Endereço</th>
      <th>Cep</th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @warehouse.name %></td>
          <td><%= @warehouse.description %></td>
          <td><%= @warehouse.city %></td>
          <td><%= @warehouse.area %> m2</td>
          <td><%= @warehouse.address %></td>
          <td><%= @warehouse.cep %></td>
        </tr>
      </tbody>
  </table>

<div class='d-flex justify-content-start'>
  <div>
      <%= link_to('Voltar', root_path, class:"btn btn-secondary")%>
  </div>
  <div>
    <%= link_to('Editar', edit_warehouse_path(@warehouse.id), class:'btn btn-primary')%>
  </div>
  <div>
    <%= button_to('Excluir', warehouse_path(@warehouse.id), method: :delete, class: "btn btn-danger")%>
  </div>
</div>

<section id="stock_products">
  <div>
    <h2>Itens em Estoque</h2>
    <%= @stocks.each_pair do |pm, quantity| %>
      <%= quantity %> x <%= pm.sku%>
    <% end %>
  </div>
</section>

<section id="stock_destination">  
  <h2>Saída de Estoque</h2>
    <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse.id)) do |f| %>
      <div>
        <%= f.label(:product_model_id, 'Item para Saída') %>
        <%= f.collection_select(:product_model_id, @product_models, :id, :sku)%>
      </div>
      <div>
        <%= f.label(:recipient, 'Destinatário') %>
        <%= f.text_field(:recipient) %>
      </div>
      <div>
        <%= f.label(:address, 'Endereço Destino') %>
        <%= f.text_field(:address) %>
      </div>
      <%= f.submit 'Confirmar Retirada' %>
    <% end %>
</section>

<div>
  <%= link_to('Voltar', root_path)%>
</div>

