<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
   
  </head>

  <body>

  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
      <%= link_to('Galpões & Estoque', root_path, class:"navbar-brand mb-0 h1") %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to('Página Inicial', root_path, class:'nav-link') %>
          </li>
          <li class="nav-item">
            <%=link_to('Galpões', warehouses_path, class:'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Fornecedores', suppliers_path, class:'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Modelos de Produtos', product_models_path, class:'nav-link') %>
          </li>
        </ul>
      </div>
        <% if user_signed_in? %>
          <div class="navbar-nav nav-link d-flex justify-content-end">
            <%= current_user.email %>
          </div>
          <div class="navbar-nav d-flex justify-content-end">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:'nav-link btn btn-link' %>
          </div>
        <% else %>
          <div class="navbar-nav d-flex justify-content-end">
            <%= link_to('Entrar', new_user_session_path, class:'nav-link') %>
          </div>
        <% end %>
    </nav>
  </header>
  <main>
    
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    
    <%= yield %>
  </main>
  </body>
</html>


